The G1 Climax is an annual Japanase wrestling tournament that's held every summer over 20 days. Rather than a simple knockout tournament it's a league made up two blocks each consisting of 20 wrestlers. The winner of each block then face off and the winner goes to headline wrestle kingdom in January

Let's start off with importing all the relevant libraries which will be updated as we go

Add times to matches, to see who on average has the longest time. Wrestler style, weight, momemntum?
If they won the last match are they going to win the next one

In [1]:
import pandas as pd
import math
import numpy as np
import itertools
import matplotlib.pyplot as plt
import seaborn as sns
import decimal
import datetime
sns.set_style('white')

Read the csv file with the block names

In [2]:
df = pd.read_csv("G1 Competitors.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
A Block    10 non-null object
B Block    10 non-null object
dtypes: object(2)
memory usage: 240.0+ bytes

Only 10 entries with No null objects which is good to see, we can see what the whole dataframe looks like. Of course if we had more rows we wouldn't be able to do this.

In [4]:
df

             A Block          B Block
0  Hiroshi Tanahashi  Kazuchika Okada
1        Togi Makabe        Toru Yano
2     Tomohiro Ishii   Satoshi Kojima
3       Hirooki Goto    Michael Elgin
4        YOSHI-HASHI   Juice Robinson
5      Bad Luck Fale       Tama Tonga
6        Yuji Nagata           SANADA
7     Zack Sabre Jr.             EVIL
8        Kota Ibushi    Minoru Suzuki
9      Tetsuya Naito      Kenny Omega

Some of the wrestler's name have capitals while others don't, let's seperate these into two blocks and make sure we convert all strings to uppercase

In [5]:
A_Block = pd.DataFrame(df['A Block'].str.upper())
A_Block.columns = ['Wrestler']
B_Block = pd.DataFrame(df['B Block'].str.upper())
B_Block.columns = ['Wrestler']

In [6]:
A_Block['Matches'] = np.NAN
A_Block['Wins'] = np.NAN
A_Block['Losses'] = np.NAN
A_Block['Draws'] = np.NAN
A_Block['Points'] = np.NAN
A_Block['Match_Time'] = np.NAN
A_Block['DMR'] = 0.00
B_Block['Matches'] = np.NAN
B_Block['Wins'] = np.NAN
B_Block['Losses'] = np.NAN
B_Block['Draws'] = np.NAN
B_Block['Points'] = np.NAN
B_Block['Match_Time'] = np.NAN
B_Block['DMR'] = 0.00

In [7]:
A_Block.dtypes

Wrestler       object
Matches       float64
Wins          float64
Losses        float64
Draws         float64
Points        float64
Match_Time    float64
DMR           float64
dtype: object

In [8]:
B_Block

          Wrestler  Matches  Wins  Losses  Draws  Points  Match_Time  DMR
0  KAZUCHIKA OKADA      NaN   NaN     NaN    NaN     NaN         NaN  0.0
1        TORU YANO      NaN   NaN     NaN    NaN     NaN         NaN  0.0
2   SATOSHI KOJIMA      NaN   NaN     NaN    NaN     NaN         NaN  0.0
3    MICHAEL ELGIN      NaN   NaN     NaN    NaN     NaN         NaN  0.0
4   JUICE ROBINSON      NaN   NaN     NaN    NaN     NaN         NaN  0.0
5       TAMA TONGA      NaN   NaN     NaN    NaN     NaN         NaN  0.0
6           SANADA      NaN   NaN     NaN    NaN     NaN         NaN  0.0
7             EVIL      NaN   NaN     NaN    NaN     NaN         NaN  0.0
8    MINORU SUZUKI      NaN   NaN     NaN    NaN     NaN         NaN  0.0
9      KENNY OMEGA      NaN   NaN     NaN    NaN     NaN         NaN  0.0

How many potential matches per block?
Using the old permuations formula

In [9]:
math.factorial(10)/(math.factorial(2)*math.factorial(10-2))

45.0

Ok there are 45 possible matches, I was going to write a custom function to list all these out but the python community is so large someone has already done what you need. Luckily they have and it comes from the library itertools. We use the function combinations as we're looking for all unique combinations and not permutations. The combination takes a list so we can't simply pass in the data frame and need to select the Wrestler column as a series. W

In [10]:
A_matches = pd.DataFrame.from_records(list(itertools.combinations(A_Block['Wrestler'],2)), columns = ['Wrestler 1', 'Wrestler 2'])
B_matches = pd.DataFrame.from_records(list(itertools.combinations(B_Block['Wrestler'],2)), columns = ['Wrestler 1', 'Wrestler 2'])
A_matches['Winner'] = np.NAN
B_matches['Winner'] = np.NAN
A_matches['Loser'] = np.NAN
B_matches['Loser'] = np.NAN
A_matches['Match'] = 1
B_matches['Match'] = 1
B_matches['Match_Time'] = np.NAN
A_matches['Match_Time'] = np.NAN
B_matches['Draw'] = False
A_matches['Draw'] = False
B_matches['DMR'] = 0.00
A_matches['DMR'] = 0.00

In [11]:
A_matches

,Wrestler 1,Wrestler 2,Winner,Loser,Match,Match_Time,Draw,DMR
0,HIROSHI TANAHASHI,TOGI MAKABE,NaN,NaN,1,NaN,False,0.0
1,HIROSHI TANAHASHI,TOMOHIRO ISHII,NaN,NaN,1,NaN,False,0.0
2,HIROSHI TANAHASHI,HIROOKI GOTO,NaN,NaN,1,NaN,False,0.0
3,HIROSHI TANAHASHI,YOSHI-HASHI,NaN,NaN,1,NaN,False,0.0
4,HIROSHI TANAHASHI,BAD LUCK FALE,NaN,NaN,1,NaN,False,0.0
5,HIROSHI TANAHASHI,YUJI NAGATA,NaN,NaN,1,NaN,False,0.0
6,HIROSHI TANAHASHI,ZACK SABRE JR.,NaN,NaN,1,NaN,False,0.0
7,HIROSHI TANAHASHI,KOTA IBUSHI,NaN,NaN,1,NaN,False,0.0
8,HIROSHI TANAHASHI,TETSUYA NAITO,NaN,NaN,1,NaN,False,0.0
9,TOGI MAKABE,TOMOHIRO ISHII,NaN,NaN,1,NaN,False,0.0
10,TOGI MAKABE,HIROOKI GOTO,NaN,NaN,1,NaN,False,0.0
11,TOGI MAKABE,YOSHI-HASHI,NaN,NaN,1,NaN,False,0.0
12,TOGI MAKABE,BAD LUCK FALE,NaN,NaN,1,NaN,False,0.0
13,TOGI MAKABE,YUJI NAGATA,NaN,NaN,1,NaN,False,0.0
14,TOGI MAKABE,ZACK SABRE JR.,NaN,NaN,1,NaN,False,0.0
15,TOGI MAKABE,KOTA IBUSHI,NaN,NaN,1,NaN,False,0.0
16,TOGI MAKABE,TETSUYA NAITO,NaN,NaN,1,NaN,False,0.0
17,TOMOHIRO ISHII,HIROOKI GOTO,NaN,NaN,1,NaN,False,0.0
18,TOMOHIRO ISHII,YOSHI-HASHI,NaN,NaN,1,NaN,False,0.0
19,TOMOHIRO ISHII,BAD LUCK FALE,NaN,NaN,1,NaN,False,0.0
20,TOMOHIRO ISHII,YUJI NAGATA,NaN,NaN,1,NaN,False,0.0
21,TOMOHIRO ISHII,ZACK SABRE JR.,NaN,NaN,1,NaN,False,0.0
22,TOMOHIRO ISHII,KOTA IBUSHI,NaN,NaN,1,NaN,False,0.0
23,TOMOHIRO ISHII,TETSUYA NAITO,NaN,NaN,1,NaN,False,0.0
24,HIROOKI GOTO,YOSHI-HASHI,NaN,NaN,1,NaN,False,0.0
25,HIROOKI GOTO,BAD LUCK FALE,NaN,NaN,1,NaN,False,0.0
26,HIROOKI GOTO,YUJI NAGATA,NaN,NaN,1,NaN,False,0.0
27,HIROOKI GOTO,ZACK SABRE JR.,NaN,NaN,1,NaN,False,0.0
28,HIROOKI GOTO,KOTA IBUSHI,NaN,NaN,1,NaN,False,0.0
29,HIROOKI GOTO,TETSUYA NAITO,NaN,NaN,1,NaN,False,0.0
30,YOSHI-HASHI,BAD LUCK FALE,NaN,NaN,1,NaN,False,0.0
31,YOSHI-HASHI,YUJI NAGATA,NaN,NaN,1,NaN,False,0.0
32,YOSHI-HASHI,ZACK SABRE JR.,NaN,NaN,1,NaN,False,0.0
33,YOSHI-HASHI,KOTA IBUSHI,NaN,NaN,1,NaN,False,0.0
34,YOSHI-HASHI,TETSUYA NAITO,NaN,NaN,1,NaN,False,0.0
35,BAD LUCK FALE,YUJI NAGATA,NaN,NaN,1,NaN,False,0.0
36,BAD LUCK FALE,ZACK SABRE JR.,NaN,NaN,1,NaN,False,0.0
37,BAD LUCK FALE,KOTA IBUSHI,NaN,NaN,1,NaN,False,0.0
38,BAD LUCK FALE,TETSUYA NAITO,NaN,NaN,1,NaN,False,0.0
39,YUJI NAGATA,ZACK SABRE JR.,NaN,NaN,1,NaN,False,0.0
40,YUJI NAGATA,KOTA IBUSHI,NaN,NaN,1,NaN,False,0.0
41,YUJI NAGATA,TETSUYA NAITO,NaN,NaN,1,NaN,False,0.0
42,ZACK SABRE JR.,KOTA IBUSHI,NaN,NaN,1,NaN,False,0.0
43,ZACK SABRE JR.,TETSUYA NAITO,NaN,NaN,1,NaN,False,0.0
44,KOTA IBUSHI,TETSUYA NAITO,NaN,NaN,1,NaN,False,0.0

In [12]:
B_matches

,Wrestler 1,Wrestler 2,Winner,Loser,Match,Match_Time,Draw,DMR
0,KAZUCHIKA OKADA,TORU YANO,NaN,NaN,1,NaN,False,0.0
1,KAZUCHIKA OKADA,SATOSHI KOJIMA,NaN,NaN,1,NaN,False,0.0
2,KAZUCHIKA OKADA,MICHAEL ELGIN,NaN,NaN,1,NaN,False,0.0
3,KAZUCHIKA OKADA,JUICE ROBINSON,NaN,NaN,1,NaN,False,0.0
4,KAZUCHIKA OKADA,TAMA TONGA,NaN,NaN,1,NaN,False,0.0
5,KAZUCHIKA OKADA,SANADA,NaN,NaN,1,NaN,False,0.0
6,KAZUCHIKA OKADA,EVIL,NaN,NaN,1,NaN,False,0.0
7,KAZUCHIKA OKADA,MINORU SUZUKI,NaN,NaN,1,NaN,False,0.0
8,KAZUCHIKA OKADA,KENNY OMEGA,NaN,NaN,1,NaN,False,0.0
9,TORU YANO,SATOSHI KOJIMA,NaN,NaN,1,NaN,False,0.0
10,TORU YANO,MICHAEL ELGIN,NaN,NaN,1,NaN,False,0.0
11,TORU YANO,JUICE ROBINSON,NaN,NaN,1,NaN,False,0.0
12,TORU YANO,TAMA TONGA,NaN,NaN,1,NaN,False,0.0
13,TORU YANO,SANADA,NaN,NaN,1,NaN,False,0.0
14,TORU YANO,EVIL,NaN,NaN,1,NaN,False,0.0
15,TORU YANO,MINORU SUZUKI,NaN,NaN,1,NaN,False,0.0
16,TORU YANO,KENNY OMEGA,NaN,NaN,1,NaN,False,0.0
17,SATOSHI KOJIMA,MICHAEL ELGIN,NaN,NaN,1,NaN,False,0.0
18,SATOSHI KOJIMA,JUICE ROBINSON,NaN,NaN,1,NaN,False,0.0
19,SATOSHI KOJIMA,TAMA TONGA,NaN,NaN,1,NaN,False,0.0
20,SATOSHI KOJIMA,SANADA,NaN,NaN,1,NaN,False,0.0
21,SATOSHI KOJIMA,EVIL,NaN,NaN,1,NaN,False,0.0
22,SATOSHI KOJIMA,MINORU SUZUKI,NaN,NaN,1,NaN,False,0.0
23,SATOSHI KOJIMA,KENNY OMEGA,NaN,NaN,1,NaN,False,0.0
24,MICHAEL ELGIN,JUICE ROBINSON,NaN,NaN,1,NaN,False,0.0
25,MICHAEL ELGIN,TAMA TONGA,NaN,NaN,1,NaN,False,0.0
26,MICHAEL ELGIN,SANADA,NaN,NaN,1,NaN,False,0.0
27,MICHAEL ELGIN,EVIL,NaN,NaN,1,NaN,False,0.0
28,MICHAEL ELGIN,MINORU SUZUKI,NaN,NaN,1,NaN,False,0.0
29,MICHAEL ELGIN,KENNY OMEGA,NaN,NaN,1,NaN,False,0.0
30,JUICE ROBINSON,TAMA TONGA,NaN,NaN,1,NaN,False,0.0
31,JUICE ROBINSON,SANADA,NaN,NaN,1,NaN,False,0.0
32,JUICE ROBINSON,EVIL,NaN,NaN,1,NaN,False,0.0
33,JUICE ROBINSON,MINORU SUZUKI,NaN,NaN,1,NaN,False,0.0
34,JUICE ROBINSON,KENNY OMEGA,NaN,NaN,1,NaN,False,0.0
35,TAMA TONGA,SANADA,NaN,NaN,1,NaN,False,0.0
36,TAMA TONGA,EVIL,NaN,NaN,1,NaN,False,0.0
37,TAMA TONGA,MINORU SUZUKI,NaN,NaN,1,NaN,False,0.0
38,TAMA TONGA,KENNY OMEGA,NaN,NaN,1,NaN,False,0.0
39,SANADA,EVIL,NaN,NaN,1,NaN,False,0.0
40,SANADA,MINORU SUZUKI,NaN,NaN,1,NaN,False,0.0
41,SANADA,KENNY OMEGA,NaN,NaN,1,NaN,False,0.0
42,EVIL,MINORU SUZUKI,NaN,NaN,1,NaN,False,0.0
43,EVIL,KENNY OMEGA,NaN,NaN,1,NaN,False,0.0
44,MINORU SUZUKI,KENNY OMEGA,NaN,NaN,1,NaN,False,0.0

Ok we now have a table of the potential matches, I decided to write a quick function to update the dataframe with the results rather than updating each row manually. I didn't want to type out the full names either as the spellings of Japanese names can be quite hard. So the function does a partial match and prints out the names it's matched as a check

In [13]:
def updateresults(df,winner,loser, time, DMR, draw = False):#We want to find the index for the match for these two wrestlers
    winner = winner.upper() #Tidy up the names
    loser = loser.upper()
    # Search for them in the results table and return their position
    #I really should an error handler but I'm being lazy and this function is a one time use
    w1 = list(df[df['Wrestler 1'].str.contains(winner)].index) 
    w2 = list(df[df['Wrestler 2'].str.contains(winner)].index)
    w3 = w1 + w2
    if not w1:
        winner = df.iloc[w2[0],1]
    else:
        winner = df.iloc[w1[0],0]
    
    l1 = list(df[df['Wrestler 1'].str.contains(loser)].index)
    l2 = list(df[df['Wrestler 2'].str.contains(loser)].index)
    l3 = l1 + l2
    if not l1:
        loser = df.iloc[l2[0],1]
    else:
        loser = df.iloc[l1[0],0]
    i = list(set(w3).intersection(l3))
    i = i[0]
    print(winner + ',' +loser)
    df.iloc[i,5] = time
    df.iloc[i,7] = DMR
    #if it's draw add none to winner & loser and turn the draw value to True
    if draw == False:
        df.iloc[i,2] = winner
        df.iloc[i,3] = loser
    else:
        df.iloc[i,2] = 'None'
        df.iloc[i,3] = 'None'
        df.iloc[i,6] = True       
    updatetable()

In [22]:
def updatetable():# Function to update the table standings after match results
    global A_Block
    global B_Block
    cols = ['Matches','Wins','Losses','Draws','Points']
    
    A_Block['Wins'] = A_Block['Wrestler'].map(A_matches['Winner'].value_counts())
    A_Block['Losses'] = A_Block['Wrestler'].map(A_matches['Loser'].value_counts())
    x = A_matches.loc[A_matches.Draw == True, ['Wrestler 1','Wrestler 2']]
    Draws = (pd.concat([x['Wrestler 1'],x['Wrestler 2']]))
    A_Block['Draws'] = A_Block['Wrestler'].map(Draws.value_counts())
    A_Block = A_Block.fillna(0)#replace the nan's with zeroes so we can tally later
    A_Block['Matches'] = A_Block['Wins'] + A_Block['Losses'] + A_Block['Draws']
    A_Block['Points'] = A_Block['Wins']*2 + A_Block['Draws']
    A_Block = A_Block.sort_values(['Points'],ascending=False).reset_index(drop=True)
    A_Block[cols] = A_Block[cols].applymap(np.int64)
    
    B_Block['Wins'] = B_Block['Wrestler'].map(B_matches['Winner'].value_counts())
    B_Block['Losses'] = B_Block['Wrestler'].map(B_matches['Loser'].value_counts())
    x =B_matches.loc[B_matches.Draw == True, ['Wrestler 1','Wrestler 2']]
    Draws = (pd.concat([x['Wrestler 1'],x['Wrestler 2']]))
    B_Block['Draws'] = B_Block['Wrestler'].map(Draws.value_counts())    
    B_Block = B_Block.fillna(0)#replace the nan's with zeroes so we can tally later
    B_Block['Matches'] = B_Block['Wins'] + B_Block['Losses'] + B_Block['Draws']
    B_Block['Points'] = B_Block['Wins']*2 + B_Block['Draws']
    B_Block = B_Block.sort_values(['Points'],ascending=False).reset_index(drop=True)
    B_Block[cols] = B_Block[cols].applymap(np.int64)

Let's update our results with Day 1 results. Surprised to see Zack Sabre win over Tanahashi considering he's like the Japan John Cena. If you didn't understand I don't think you'd be reading this!

In [23]:
updateresults(A_matches, 'YOSHI', 'Nagata', '16:29',4.25)# Day 1
updateresults(A_matches, 'Fale', 'Togi', '09:25',3.50)
updateresults(A_matches, 'Hirooki', 'Tomohiro', '13:43',4.25)
updateresults(A_matches, 'Zack', 'Tanahashi', '17:18',4.25)
updateresults(A_matches, 'Tetsuya', 'Kota', '24:41',4.75)

YOSHI-HASHI,YUJI NAGATA
BAD LUCK FALE,TOGI MAKABE
HIROOKI GOTO,TOMOHIRO ISHII
ZACK SABRE JR.,HIROSHI TANAHASHI
TETSUYA NAITO,KOTA IBUSHI

Did that update our results Table? Let's check out the A Table

In [18]:
cols = ['Matches','Wins','Losses','Draws','Points']
A_Block[cols] = A_Block[cols].applymap(np.int64)

In [25]:
A_Block

            Wrestler  Matches  Wins  Losses  Draws  Points  Match_Time  DMR
0      TETSUYA NAITO      9.0     7       2    0.0    14.0         0.0  0.0
1  HIROSHI TANAHASHI      9.0     6       3    0.0    12.0         0.0  0.0
2      BAD LUCK FALE      9.0     6       3    0.0    12.0         0.0  0.0
3        KOTA IBUSHI      9.0     5       4    0.0    10.0         0.0  0.0
4     ZACK SABRE JR.      9.0     5       4    0.0    10.0         0.0  0.0
5       HIROOKI GOTO      9.0     5       4    0.0    10.0         0.0  0.0
6     TOMOHIRO ISHII      9.0     4       5    0.0     8.0         0.0  0.0
7        TOGI MAKABE      9.0     4       5    0.0     8.0         0.0  0.0
8        YOSHI-HASHI      9.0     2       7    0.0     4.0         0.0  0.0
9        YUJI NAGATA      9.0     1       8    0.0     2.0         0.0  0.0

Update the B block matches, no surprises with Okada and Omega going over. I expect one of them to be in the final

In [20]:
updateresults(B_matches,'Juice','Satoshi', '11:48',3.5) # Day 2
updateresults(B_matches,'Tonga','Elgin', '13:46',3.25)
updateresults(B_matches,'Sanada','Evil','15:48',4.00)
updateresults(B_matches,'Okada','Yano', '10:31',3.25)
updateresults(B_matches,'Omega','Suzuki','21:24',4.75)

updateresults(A_matches, 'Hirooki', 'Nagata', '15:02',4.50)# Day3
updateresults(A_matches,'ISHII', 'Togi', '15:51',4.50)
updateresults(A_matches,'Ibushi', 'Zack', '15:51',4.50)
updateresults(A_matches,'Tanaha', 'Fale', '11:05',3.50)
updateresults(A_matches,'Tetsuya', 'Yoshi', '22:19',4.25)

updateresults(B_matches, 'Yano', 'Kojima','09:12',1.50) # Day 4
updateresults(B_matches, 'Evil', 'Juice','11:46',4.00)
updateresults(B_matches, 'Suzuki', 'Sanada','11:22',3.75)
updateresults(B_matches, 'Omega', 'Tama','11:42',3.50)
updateresults(B_matches, 'Okada', 'Elgin','25:49',4.75)


updateresults(A_matches, 'Zack', 'Yoshi','11:48',3.50) # Day 5
updateresults(A_matches, 'Hiroshi', 'YUji', '14:47',4.50)
updateresults(A_matches, 'Fale', 'Tetsuya', '11:55',2.50)
updateresults(A_matches, 'Kota', 'Ishii', '17:14',4.50)
updateresults(A_matches, 'Togi', 'Hirooki','16:55',4.00)

updateresults(B_matches, 'Elgin', 'Kojima','13:09',3.75) # Day 6
updateresults(B_matches, 'Evil', 'Tonga','10:27',2.75)
updateresults(B_matches, 'Suzuki', 'Juice', '11:23',3.25)
updateresults(B_matches, 'Omega', 'Yano', '11:31',1.00)
updateresults(B_matches, 'Okada', 'Sanada', '20:49',4.25)


updateresults(A_matches, 'Ishii', 'Yoshi', '15:43',3.75) #Day 7
updateresults(A_matches, 'Zack', 'Fale', '09:02',2.50)
updateresults(A_matches, 'Togi', 'Kota', '13:20',4.00)
updateresults(A_matches, 'Tetsuya', 'Nagata', '15:16',4.00)
updateresults(A_matches, 'Hiroshi', 'hirooki', '1:22',3.25)

updateresults(B_matches, 'Tonga', 'Juice','10:36',2.75)# Day 8
updateresults(B_matches, 'Sanada', 'Toru', '04:33',3.00)
updateresults(B_matches, 'Evil', 'Suzuki', '08:38',3.50)
updateresults(B_matches, 'Okada', 'Kojima', '15:26',4.25)
updateresults(B_matches, 'Elgin', 'Omega', '24:39',4.75)

updateresults(A_matches, 'Togi', 'Nagata', '10:45',3.50)# Day 9
updateresults(A_matches, 'Fale', 'Kota', '11:37',3.50)
updateresults(A_matches, 'Hirooki', 'Zack','10:10',3.50)
updateresults(A_matches, 'Hiroshi', 'Yoshi', '13:34',3.75) 
updateresults(A_matches, 'Ishii', 'Tetsuya', '20:58',4.50)

updateresults(B_matches, 'Evil', 'Yano', '01:33',0.50) # Day 10
updateresults(B_matches, 'Suzuki', 'Tama','10:22',3.50)
updateresults(B_matches, 'Sanada', 'Elgin', '15:06',4.00)
updateresults(B_matches, 'Omega', 'Kojima','12:42',3.50)
updateresults(B_matches, 'Okada', 'Juice', '20:29',3.50)

updateresults(A_matches, 'Yoshi', 'Fale', '10:21',3.00)# Day 11
updateresults(A_matches, 'Zack', 'Togi', '09:30',2.75)
updateresults(A_matches, 'Ishii', 'Nagata', '13:51',4.50)
updateresults(A_matches, 'Naito', 'Goto', '13:30',4.00)
updateresults(A_matches, 'Ibushi', 'Hiroshi', '20:40',4.75) 

updateresults(B_matches, 'Sanada', 'Juice', '13:48',3.00) # Day 12
updateresults(B_matches, 'Yano', 'Elgin', '02:58',1.00)
updateresults(B_matches, 'Suzuki', 'Kojima', '10:13',3.00)
updateresults(B_matches, 'Okada', 'Tonga','11:22',3.25)
updateresults(B_matches, 'Omega', 'Evil','23:33',4.00)

updateresults(A_matches, 'Ibushi', 'Nagata', '15:54',4.25) # Day 13
updateresults(A_matches, 'Fale', 'ishii', '11:58',3.50)
updateresults(A_matches, 'Goto', 'Yoshi', '11:26',3.25)
updateresults(A_matches, 'Naito', 'Zack', '14:20',3.75)
updateresults(A_matches, 'Tanahashi', 'Togi', '13:34',3.50)

updateresults(B_matches, 'Yano', 'Tonga', '03:15',1.00) # Day 14
updateresults(B_matches, 'Satoshi', 'Sanada', '12:09',3.50)
updateresults(B_matches, 'Elgin', 'Suzuki', '11:13',3.00)
updateresults(B_matches, 'Juice', 'Omega','15:36',3.75)
updateresults(B_matches, 'Evil', 'Okada','22:47',4.25)

updateresults(A_matches, 'Nagata', 'Zack', '15:08',3.50) # Day 15
updateresults(A_matches, 'Ibushi', 'Yoshi', '14:28',3.50) 
updateresults(A_matches, 'Fale', 'Goto', '9:34',2.25)
updateresults(A_matches, 'Naito', 'Makabe', '11:31',3.25)
updateresults(A_matches, 'Tanahashi', 'Ishii', '23:30',4.5)

updateresults(B_matches, 'Tonga', 'Koji', '10:43',2.75) # Day 16
updateresults(B_matches, 'Juice', 'Yano', '04:25',1.50)
updateresults(B_matches, 'Elgin', 'Evil', '11:07',4.00)
updateresults(B_matches, 'Omega', 'Sanada','15:03',3.75)
updateresults(B_matches, 'Okada', 'Suzuki','30:00',4.75,True)

updateresults(A_matches, 'Fale', 'Nagata', '11:56',4.25) # Day 17
updateresults(A_matches, 'Makabe', 'Yoshi', '11:28',3.50) 
updateresults(A_matches, 'Zack', 'Ishii', '15:22',4.25)
updateresults(A_matches, 'Goto', 'Ibushi', '11:03',4.25)
updateresults(A_matches, 'Naito', 'Tanahashi', '26:41',5.00)

updateresults(B_matches, 'Juice', 'Elgin', '11:48',3.75) # Day 18
updateresults(B_matches, 'Tonga', 'Sanada', '11:59',3.75)
updateresults(B_matches, 'Yano', 'Suzuki', '06:56',3.00)
updateresults(B_matches, 'Evil', 'Satoshi','14:23',4.00)
updateresults(B_matches, 'Omega', 'Okada','24:40',6.00)

JUICE ROBINSON,SATOSHI KOJIMA
TAMA TONGA,MICHAEL ELGIN
SANADA,EVIL
KAZUCHIKA OKADA,TORU YANO
KENNY OMEGA,MINORU SUZUKI
HIROOKI GOTO,YUJI NAGATA
TOMOHIRO ISHII,TOGI MAKABE
KOTA IBUSHI,ZACK SABRE JR.
HIROSHI TANAHASHI,BAD LUCK FALE
TETSUYA NAITO,YOSHI-HASHI
TORU YANO,SATOSHI KOJIMA
EVIL,JUICE ROBINSON
MINORU SUZUKI,SANADA
KENNY OMEGA,TAMA TONGA
KAZUCHIKA OKADA,MICHAEL ELGIN
ZACK SABRE JR.,YOSHI-HASHI
HIROSHI TANAHASHI,YUJI NAGATA
BAD LUCK FALE,TETSUYA NAITO
KOTA IBUSHI,TOMOHIRO ISHII
TOGI MAKABE,HIROOKI GOTO
MICHAEL ELGIN,SATOSHI KOJIMA
EVIL,TAMA TONGA
MINORU SUZUKI,JUICE ROBINSON
KENNY OMEGA,TORU YANO
KAZUCHIKA OKADA,SANADA
TOMOHIRO ISHII,YOSHI-HASHI
ZACK SABRE JR.,BAD LUCK FALE
TOGI MAKABE,KOTA IBUSHI
TETSUYA NAITO,YUJI NAGATA
HIROSHI TANAHASHI,HIROOKI GOTO
TAMA TONGA,JUICE ROBINSON
SANADA,TORU YANO
EVIL,MINORU SUZUKI
KAZUCHIKA OKADA,SATOSHI KOJIMA
MICHAEL ELGIN,KENNY OMEGA
TOGI MAKABE,YUJI NAGATA
BAD LUCK FALE,KOTA IBUSHI
HIROOKI GOTO,ZACK SABRE JR.
HIROSHI TANAHASHI,YOSHI-HASHI
TOMOHIRO ISHII,TETSUYA NAITO
EVIL,TORU YANO
MINORU SUZUKI,TAMA TONGA
SANADA,MICHAEL ELGIN
KENNY OMEGA,SATOSHI KOJIMA
KAZUCHIKA OKADA,JUICE ROBINSON
YOSHI-HASHI,BAD LUCK FALE
ZACK SABRE JR.,TOGI MAKABE
TOMOHIRO ISHII,YUJI NAGATA
TETSUYA NAITO,HIROOKI GOTO
KOTA IBUSHI,HIROSHI TANAHASHI
SANADA,JUICE ROBINSON
TORU YANO,MICHAEL ELGIN
MINORU SUZUKI,SATOSHI KOJIMA
KAZUCHIKA OKADA,TAMA TONGA
KENNY OMEGA,EVIL
KOTA IBUSHI,YUJI NAGATA
BAD LUCK FALE,TOMOHIRO ISHII
HIROOKI GOTO,YOSHI-HASHI
TETSUYA NAITO,ZACK SABRE JR.
HIROSHI TANAHASHI,TOGI MAKABE
TORU YANO,TAMA TONGA
SATOSHI KOJIMA,SANADA
MICHAEL ELGIN,MINORU SUZUKI
JUICE ROBINSON,KENNY OMEGA
EVIL,KAZUCHIKA OKADA
YUJI NAGATA,ZACK SABRE JR.
KOTA IBUSHI,YOSHI-HASHI
BAD LUCK FALE,HIROOKI GOTO
TETSUYA NAITO,TOGI MAKABE
HIROSHI TANAHASHI,TOMOHIRO ISHII
TAMA TONGA,SATOSHI KOJIMA
JUICE ROBINSON,TORU YANO
MICHAEL ELGIN,EVIL
KENNY OMEGA,SANADA
KAZUCHIKA OKADA,MINORU SUZUKI
BAD LUCK FALE,YUJI NAGATA
TOGI MAKABE,YOSHI-HASHI
ZACK SABRE JR.,TOMOHIRO ISHII
HIROOKI GOTO,KOTA IBUSHI
TETSUYA NAITO,HIROSHI TANAHASHI
JUICE ROBINSON,MICHAEL ELGIN
TAMA TONGA,SANADA
TORU YANO,MINORU SUZUKI
EVIL,SATOSHI KOJIMA
KENNY OMEGA,KAZUCHIKA OKADA

Now that we've got some results, let's update the A block and B block tables that summarise the current standings. I was looking for the equivalent of Excel's countif and found that you can the Series.map function. In the tournamenet a win counts as 2 points, tie counts as 1(having factored this in yet) and 0 points for a loss. This can be a function I think that updates

In [21]:
A_Block

            Wrestler  Matches  Wins  Losses  Draws  Points  Match_Time  DMR
0      TETSUYA NAITO      9.0     7       2    0.0    14.0         0.0  0.0
1  HIROSHI TANAHASHI      9.0     6       3    0.0    12.0         0.0  0.0
2      BAD LUCK FALE      9.0     6       3    0.0    12.0         0.0  0.0
3        KOTA IBUSHI      9.0     5       4    0.0    10.0         0.0  0.0
4     ZACK SABRE JR.      9.0     5       4    0.0    10.0         0.0  0.0
5       HIROOKI GOTO      9.0     5       4    0.0    10.0         0.0  0.0
6     TOMOHIRO ISHII      9.0     4       5    0.0     8.0         0.0  0.0
7        TOGI MAKABE      9.0     4       5    0.0     8.0         0.0  0.0
8        YOSHI-HASHI      9.0     2       7    0.0     4.0         0.0  0.0
9        YUJI NAGATA      9.0     1       8    0.0     2.0         0.0  0.0

In [ ]:
updatetable()

In [ ]:
B_Block

In [ ]:

ax= sns.barplot(y='Wrestler', x='Points', data=A_Block, color= 'Red')
ax.set_xlim(0,18)
sns.despine()
ax.set_ylabel('')
ax.set_xlabel('points')
ax.set_title('A Block')
plt.show()
ax= sns.barplot(y='Wrestler', x='Points', data=B_Block,  color= 'Blue')
ax.set_xlim(0,18)
sns.despine()
ax.set_ylabel('') 
ax.set_xlabel('points')
ax.set_title('B Block')
plt.show()

In [ ]:
A_matches

In [ ]:
A_matches['Match_Time'] = pd.to_datetime(A_matches['Match_Time'], format='%M:%S').dt.time

In [ ]:
pd.Timedelta(A_matches['Match_Time'])